body{
    overflow: hidden;
}
#menu_alterar{
    position: relative;
    float:left;
    width: 35%;
    top: -70px;
    left: 60px;
    overflow: hidden;
    

}

#menu_listar{
    position: relative;
    width: 35%;
    top: -70px;
    overflow: hidden;


}
h1{
    position: relative;
    font-size: 70pt;
    text-align: center;
    top: -20px;

}
h2{
    position: relative;

    font-size: 50pt;
    top:-60px;
    left: 60px;

}

button{
    font-size: 20pt;
    width: 450px;
    height: 120px;
    margin: 20px;
    margin-left: 30px;
    background: lightgray;
    
}

.menu_p{
    position: relative;
    font-size: 30pt;
    margin: 20px;
    margin-left: 30px;

    
}